<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c3d4e8b422.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMS</title>
  </head>
  <body>
    <%- include('layout') %>
    <section>
      <div class="image container">
        <div class="text">
          <h1>Employee Management System</h1>
          <p>
            An employee management system is a software, that helps your
            employees to give their best efforts every day to achieve the goals
            of your organization. It guides and manages employees efforts in the
            right direction. It also securely stores and manages personal and
            other work-related details for your employees. That makes it easier
            to store and access the data when there is a need.
          </p>
          <button type="button" class="btn btn-outline-info">
            Get Started-->
          </button>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm card" style="width: 18rem">
            <img
              class="card-img-top"
              src="images/card1.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Employee Engagement</h5>
              <p class="card-text">
                With a self-service portal, employees are more engaged and feel
                more empowered in your organization
              </p>
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img
              class="card-img-top"
              src="images/card2.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Error-free Payroll</h5>
              <p class="card-text">
                The software automates the payroll with accurate attendance,
                working hours tracking and legal compliance.
              </p>
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img
              class="card-img-top"
              src="images/card3.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Access to Information</h5>
              <p class="card-text">
                The staff can access the basic information on the portal without
                approaching human resources for it
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm card" style="width: 18rem">
            <img
              class="card-img-top"
              src="images/card4.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Remote Accessibility</h5>
              <p class="card-text">
                This system allows your staff to work remotely and mark their
                attendance accurately anywhere effortlessly
              </p>
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img
              class="card-img-top"
              src="images/card5.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Automate Data Entry</h5>
              <p class="card-text">
                The cloud-based system allows you to automate and digitize
                manual data entry saving time and effort
              </p>
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img
              class="card-img-top"
              src="images/card6.svg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Easy to Customise</h5>
              <p class="card-text">
                Pocket HRMS is easy to customize system which allows you
                flexibility with changing needs of your organization
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="footer container">
        <p>
          Now Manage Your Employees with automated Employee Management System.
        </p>
        <a
          href="./login"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
          ><img src="images/admin.png" alt="admin" />Admin</a
        >
        <a
          href="./login"
          class="btn btn-secondary btn-lg"
          role="button"
          aria-disabled="true"
          ><img src="images/emp (2).png" alt="admin" />Employee</a
        >
      </div>
    </section>
    <section>
      <div class="icons">
        <i class="fa-brands fa-facebook fa-2xl"></i>
        <i class="fa-brands fa-google fa-2xl"></i>
        <i class="fa-brands fa-twitter fa-2xl"></i>
        <i class="fa-brands fa-youtube fa-2xl"></i>
      </div>
      <div class="last">
        <a href="">Home</a>
        <a href="">FAQs</a>
        <a href="">ContactUS</a>
        <a href="">About</a>
      </div>
      <hr />
      <p class="copyright">© 2021 Company, Inc</p>
    </section>
  </body>
</html>
